.main{
    height: 600px;
    width: 400px;
    background: #f8f5f5;
    overflow:hidden;
    overflow-y: scroll;
    margin-left: 60vh;
}
*{
    padding: 0;
    margin: 0;
}
.input{
  
   
   
    margin-top: 15px;


    height: 8vh;
    
    
    width: 90%;
    margin-left: -1vh;


}
.gif-view{
    margin-left: 7px;
    margin-top: 15px;
    width: 95%;
    cursor: pointer;
}
.search{
    /* width: 38px; */
    border: none;
    cursor: pointer;
}